@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-tahini: #dcb711;
  --color-brown-coyote: #7A542E;
  --color-dark-pastel-green: #71C269;
  --color-champagne-pink: #FAE4D3;
  --color-RISD-blue: #004FFF;
  --color-burnt-umber: #982F24;
  --color-egyptian-blue: #00277A;
  --color-pastel-yellow: #FAE59E;
  --color-night-blue: #1E2775;
  --color-grey-blue: #555C7B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
